{% extends "account/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}Confirmer une adresse email{% endblock %}
{% block page_title %}
    <h1>Confirmer une adresse email</h1>
{% endblock %}

{% block content %}
    {% user_display email_address.user as user_display %}
    <p>{% with email_address.email as email %}Vous avez confirmé que <a href="mailto:{{email}}">{{ email }}</a> est bien une adresse email de l'utilisateur {{ user_display }}.{% endwith %}</p>
{% endblock %}
