{% extends "account/base.html" %}

{% load account %}
{% load i18n %}


{% block head_title %}Confirmer une adresse email{% endblock %}
{% block page_title %}
    <h1>Confirmer une adresse email</h1>
{% endblock %}

{% block content %}
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <p>{% with confirmation.email_address.email as email %}Veuillez confirmer que <a href="mailto:{{email}}">{{ email }}</a> est bien une adresse email de {{ user_display }}.{% endwith %}</p>
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Confirmer</button>
        </form>
    {% else %}
        {% url 'account_email' as email_url %}
        <p>Ce lien de confirmation d'adresse email a expiré ou n'est pas valide. Veuillez <a href="{{ email_url}}">demander une nouvelle confirmation d'adresse email</a>.</p>
    {% endif %}
{% endblock %}
