{% extends "events/base.html" %}

{% load i18n %}
{% load account %}


{% block head_title %}Connexion{% endblock %}
{% block page_title %}
    <h1>Connexion</h1>
{% endblock %}

{% block content %}
<p>Si vous n'avez pas encore crée de compte, merci de procéder en premier lieu à votre
<a href="{{ signup_url }}">inscription</a>.</p>
{% load crispy_forms_tags %}
<form method="POST" class="form-signin" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">Mot de passe oublié ?</a></p>
    <button class="btn btn-primary" type="submit">Se connecter</button>
</form>
{% endblock %}
