{% extends "events/base.html" %}

{% load i18n %}


{% block head_title %}Déconnexion{% endblock %}
{% block page_title %}
    <h1>Déconnexion</h1>
{% endblock %}

{% block content %}
    <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
    <form class="form-signin" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">Se déconnecter</button>
    </form>
{% endblock %}
