{% extends "account/base.html" %}


{% load i18n %}
{% block head_title %}Changer de mot de passe{% endblock %}
{% block page_title %}
    <h1>
        {% if token_fail %}
            Jeton incorrect.
        {% else %}
            Changer de mot de passe
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>Le lien de réinitialisation de mot de passe est invalide, il a probablement déjà été utilisé. Veuillez demander une <a href="{{ passwd_reset_url }}">nouvelle réinitialisation de mot de passe</a>.</p>
{% else %}
    {% if form %}
        {% load crispy_forms_tags %}
        <form method="POST" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="Changer de mot de passe"/>
        </form>
    {% else %}
    <p>Votre mot de passe a bien été changé.</p>
    {% endif %}
{% endif %}
{% endblock %}
