{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Changer de mot de passe{% endblock %}
{% block page_title %}
    <h1>Changer de mot de passe</h1>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">Changer le mot de passe</button>
</form>
{% endblock %}
