{% extends "account/base.html" %}


{% load i18n %}

{% block head_title %}Vérifiez votre adresse email{% endblock %}
{% block page_title %}
    <h1>Vérifiez votre adresse email</h1>
{% endblock %}

{% block content %}

{% url 'account_email' as email_url %}

<p>Cette section du site nous demande de vérifier votre identité. Pour cela, nous avons besoin que vous confirmiez que votre adresse email vous appartient.</p>

<p>Nous vous avons envoyé un email pour confirmation. Veuillez cliquer le lien dans cet email. Contactez-nous si vous ne l'avez pas reçu d'ici 10 minutes.</p>

<p><strong>Note :</strong> vous avez toujours la possibilité de <a href="{{email_url}}">changer votre adresse email</a>.</p>

{% endblock %}

