{% extends "events/base.html" %}

{% load i18n %}

{% block head_title %}Vérifiez votre adresse email{% endblock %}
{% block page_title %}
    <h1>Vérifiez votre adresse email</h1>
{% endblock %}

{% block content %}
<p>Nous vous avons envoyé un email de vérification. Suivez le lien fourni dans cet email pour terminer le processus d'inscription. Contactez-nous si vous ne l'avez pas reçu d'ici 10 minutes.</p>
{% endblock %}
