{% load i18n %}

<div class="panel-heading">
    <h3 class="panel-title">
        <i class="fa fa-info-circle"></i> {{ object|capfirst }}
    </h3>
</div>
<ul class="list-group">
    {% for data in object.documentscomplementaires.all %}
        <li class="list-group-item">
            {{ data.desired_information }} : 
            {% if data.attached_document %}
                <a href="{{ data.attached_document.url }}" target="_blank">{{ data.attached_document }}</a>
            {% else %}
                Pas de réponse pour le moment
            {% endif %}
        </li>
    {% endfor %}
</ul>
