{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}Manifestation sans Véhicules Terrestres à Moteur Soumise à Autorisation{% endblock %}

{% block counter %}
    {% if not object.manifestationautorisation.id %}
        {% include 'events/counter.html' %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if not object.manifestationautorisation.id %}
        {% if object.ready_for_instruction %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Actions requises</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'authorizations:authorization_add' manifestation_pk=object.id %}" class="btn" role="button">
                            Demander l'autorisation
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Des pièces manquent au dossier</h3>
                </div>
                <div class="panel-body">
                    <p>Une fois ces pièces jointes au dossier, vous serez en mesure de d'envoyer la demande d'autorisation</p>
                    <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                </div>
                <ul class="list-group">
                    {% include 'events/missing_documents.html' %}
                    {% if not object.signalers_list %}
                        <li class="list-group-item">Liste des signaleurs</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.manifestationautorisation.id %}
        {% if object.manifestationautorisation.state == 'published' and object.manifestationautorisation.bylaw %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">L'arrêté d'autorisation a été publié</h3>
                </div>
                <div class="panel-body">
                    <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ object.manifestationautorisation.bylaw.url }}" target='_blank'>Arrêté d'autorisation</a></li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
