{% load staticfiles %}

{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ DEPARTMENT_NAME }} {% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- Bootstrap -->
        <link href='{% static 'events/css/bootstrap.min.css' %}' rel='stylesheet' type='text/css'>
        <link href='{% static 'events/css/font-awesome.min.css' %}' rel='stylesheet' type='text/css'>
        <link href='{% static 'events/css/default.css' %}' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
        <![endif]-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
        <script src='{% static 'events/js/bootstrap.min.js' %}'></script>
    </head>
    <body style="background-color: {{ DEPARTMENT_BKG_COLOR }};">
        <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
            <div class='container'>
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='{% url 'events:home_page' %}'>
                        <img alt='Manifestations sportives en loire et développement durable' src='{% static 'events/img/manifloire_brand.png' %}'>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class='collapse navbar-collapse'>
                    <ul class='nav navbar-nav navbar-right'>
                        {% if user.is_authenticated %}
                            {% if user.organisateur %}
                                <li><a href='{% url 'profile' %}'><i class="fa fa-user"></i> {{ user.username }} (Organisateur - {{ DEPARTMENT_NAME }})</a></li>
                                <li><a href='{% url 'events:dashboard' %}'><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                            {% elif user.instructeur %}
                                <li><a href='{% url 'profile' %}'><i class="fa fa-user"></i> {{ user.username }} (Instructeur - {{ DEPARTMENT_NAME }})</a></li>
                                <li><a href='{% url 'authorizations:dashboard' %}'><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                            {% elif user.agent %}
                                {% if user.agent.edsragent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.edsragent.edsr }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.brigadeagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.brigadeagent.brigade }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.ggdagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.ggdagent.ggd }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.sdisagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.sdisagent.sdis }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.codisagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.codisagent.codis }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.cisagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.cisagent.cis }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.ddspagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.ddspagent.ddsp }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.federationagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.federationagent.federation }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.serviceagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.serviceagent.service }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.townhallagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.mairieagent.commune }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.cgagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.cgagent.cg }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agent.cgsuperieuragent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.cgsuperieuragent.cg }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% endif %}
                                <li><a href='{% url 'agreements:dashboard' %}'><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                            {% elif user.agentlocal %}
                                {% if user.agentlocal.compagnieagentlocal %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agentlocal.compagnieagentlocal.compagnie }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agentlocal.cgdagentlocal %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agentlocal.cgdagentlocal.cgd }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agentlocal.edsragentlocal %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agentlocal.edsragentlocal.edsr }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agentlocal.commissariatagentlocal %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agentlocal.commissariatagentlocal.commissariat }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% elif user.agentlocal.cgserviceagentlocal %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agentlocal.cgserviceagentlocal.cg_service }} - {{ DEPARTMENT_NAME }})</a></li>
                                {% endif %}
                                <li><a href='{% url 'sub_agreements:dashboard' %}'><i class="fa fa-tachometer"></i> Tableau de bord</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li><a href='{% url 'admin:index' %}'><i class="fa fa-cog"></i> Administration système</a></li>
                            {% endif %}
                            <li class="active">
                                <a href='{% url 'account_logout' %}'><i class="fa fa-sign-out"></i> Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="active">
                                <a href='{% url 'account_login' %}'><i class="fa fa-sign-in"></i> Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
            <div class='container'>
                {% if messages %}
                    <br />
                    <div class='container'>
                        {% for message in messages %}
                            <div class='alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable'>
                                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                                <strong>{{message}}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% include "nouveautes/nouveaute_available.html" %}

                <div class='page-header'>
                    {% block page_title %}{% endblock %}
                </div>

                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block extra_body %}
        {% endblock %}

        <footer role='contentinfo'>
            <div class="container">
                <h2 class='text-center'>
                    Une interface web simplifiant considérablement les démarches entre les
                    organisateurs d'événements sportifs, l'état et l'ensemble des services
                    consultés pour avis.
                </h2>
                <div id="footer-info" class='text-center'><a href="http://www.openscop.fr">Openscop</a> - {{ DATE }} - <span  data-toggle="tooltip" data-placement="bottom" title="{{ COMMIT }}">Version {{ VERSION }}</span> - <a href="/mentions-legales/">Mentions légales</a> - <a href="/CGU/manifestationsportiveloire/">Conditions Générales d'Utilisation</a></div>
            </div>
        </footer>
        <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js'></script>
        <script>
            function dateSorter(date1, date2) {
                var date12 = date1.split('/').reverse().join('');
                var date22 = date2.split('/').reverse().join('');
                if (date12 > date22) return 1;
                if (date12 < date22) return -1;
                return 0;
            };
        </script>
        {% block extra_js %}
        {% endblock %}
        <script src='{% static 'events/js/common.js' %}'></script>
    </body>
</html>
