{% extends "events/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}


{% block head_title %}{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger"><strong>Attention : </strong>Certains champs sont obligatoires et doivent être renseignés
        </div>
    {% endif %}

    {% block form %}
        {{ form.media }}
        {% crispy form %}
    {% endblock %}

{% endblock %}
