{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}
    Calendrier
{% endblock %}

{% block page_title %}
    <h1>Manifestations sportives à venir</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% for activite in activities %}
            <a href="{% url 'events:filtered_calendar' activite=activite.pk %}" class="btn {% if current_activite == activite.id %}btn-primary{% else %}btn-default{% endif %} btn-xs">
                {{ activite|title }}
            </a>
        {% endfor %}
        <a href="{% url 'events:calendar' %}" class="btn btn-default btn-xs">Toutes les activités</a>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% regroup object_list by begin_date|date:"F Y" as months %}
                {% for month in months %}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                    {{ month.grouper }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse{% if forloop.first %} in {% endif %}" role="tabpanel" aria-labelledby="heading{{ forloop.counter }}">
                            <ul class="list-group">
                                {% for manifestation in month.list %}
                                    <a href="{% url 'events:manifestation_detail' manifestation.id %}" class="list-group-item"><small>{{ manifestation.begin_date|date:"l j" }}</small><br/>{{ manifestation }}</a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% comment %}
            <div class="col-sm-6">
                {% include 'events/map.html' %}
            </div>
        {% endcomment %}
    </div>
{% endblock %}
