{% load i18n %}
{% load humanize %}

{% if not object.delay_exceeded %}
    {% if object.two_weeks_left %}
        <div class="alert alert-danger">
            <p><strong>Attention ! </strong>
                {{ object.get_limit_date|naturaltime|capfirst }}, il sera trop tard pour déclarer la manifestation en préfecture ou demander son autorisation
            </p>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p><strong>Attention ! </strong>
                Vous avez jusqu'au {{ object.get_limit_date.date|date|capfirst }},
                pour déclarer la manifestation en préfecture ou pour demander son autorisation
            </p>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-danger">
        <p><strong>Attention ! </strong>
            Il est maintenant trop tard pour déclarer votre manifestation ou demander son autorisation sur cette plateforme.<br/>
            Veuillez contacter la préfecture pour plus de détails
        </p>
    </div>
{% endif %}
