{% extends "events/base.html" %}


{% load static %}
{% load i18n %}

{% block head_title %}Créer un parcours OpenRunner{% endblock %}
{% block page_title %}
    <h1><i class="fa fa-map"></i> Créer un parcours "carto"</h1>
{% endblock %}

{% block content %}

    <p>Veuillez vous rendre sur la plateforme de cartographie, vous identifier, et tracer le parcours de votre manifestation</p>
    <p>Une fois créé, votre parcours sera disponible dans votre formulaire afin de le lier à votre dossier</p>
    <a href="http://ddcs.openrunner.com" class="btn btn-primary" role="button" target='_blank'>
        <i class="fa fa-map"></i> Créer un parcours
    </a>
    <h3>Parcours déjà effectué ?</h3>
    <p>Vous êtes maintenant paré pour la suite de la déclaration</p>
    <a href="{% url 'events:manifestation_choose' %}" class="btn btn-primary" role="button">
        <i class="fa fa-flag-checkered"></i> Continuer la déclaration de votre manifestation
    </a>
{% endblock %}
