{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}Choix du Type de Manifestation Non Motorisée{% endblock %}
{% block page_title %}
    <h1>La manifestation prévoit la circulation groupée ? </h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:declarationnm_add' %}" class="list-group-item">
            <h3>Oui</h3>
            Cette manifestation prévoit la circulation groupée en un point déterminé de la voie publique ou de ses dépendances de : <br/>
            - Plus de 75 piétons<br/>
            - Plus de 50 cycles ou autres véhicules ou engins non motorisés<br/>
            - Plus de 25 chevaux ou autres animaux
        </a>
        <a href="{% url 'events:dashboard' %}" class="list-group-item">
            <h3>Non</h3>
            La déclaration en préfecture n'est pas nécessaire dans ce cas<br/>
            Retour à mon <i class="fa fa-tachometer" aria-hidden="true"></i> tableau de bord
        </a>
    </div>
{% endblock %}
