{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}Manifestation sans Véhicules Terrestres à Moteur Soumise à Déclaration{% endblock %}

{% block counter %}
    {% if not object.manifestationdeclaration.id and object.grouped_traffic %}
        {% include 'events/counter.html' %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if object.grouped_traffic %}
        {% if not object.manifestationdeclaration.id %}
            {% if object.ready_for_instruction %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Actions requises</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_add' manifestation_pk=object.id %}" class="btn" role="button">
                                Déclarer la manifestation
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Des pièces manquent au dossier</h3>
                    </div>
                    <div class="panel-body">
                        <p>Une fois ces pièces jointes au dossier, vous serez en mesure d'envoyer votre déclaration</p>
                        <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Rien à faire</h3>
            </div>
            <div class="panel-body">
                <p>Un texte pour expliquer à quoi correspondent les manifestations avec véhicules terrestres à moteur</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.grouped_traffic %}
        {% if object.manifestationdeclaration.id %}
            {% if object.manifestationdeclaration.state == 'published' and object.manifestationdeclaration.receipt %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Le récépissé de déclaration a été publié</h3>
                    </div>
                    <div class="panel-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.manifestationdeclaration.receipt.url }}" target='_blank'>Récépissé de déclaration</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
