{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}Selection du type de manifestation{% endblock %}
{% block page_title %}
    <h1>Sélectionnez le type de manifestation sportive que vous souhaitez organiser</h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:motorizedevent_choose' %}" class="list-group-item">
            <h3>Manifestation sportive avec participation de véhicules terrestres à moteur *</h3>
        </a>
        <a href="{% url 'events:nonmotorizedevent_choose' %}" class="list-group-item">
            <h3>Manifestation sportive sans participation de véhicules terrestres à moteur *</h3>
        </a>
    </div>
    <p>* La notion de véhicules terrestres à moteur concerne les participants à la manifestation</p>
{% endblock %}
