{% extends "events/base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}
    Organisation d'une manifestation sportive
{% endblock %}

{% block page_title %}
    <h1>Organisation d'une manifestation sportive</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% crispy form %}
        {{ form.media }}
        {% for form in inlines %}
            <fieldset>
                <legend>Personne à contacter sur place</legend>
                {% crispy form form.form.helper %}
            </fieldset>
        {% endfor %}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="Enregistrer" name="save">
            </input>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script src='{% static 'events/js/bootstrap-multiselect.js' %}'></script>
    <link href='{% static 'events/css/bootstrap-multiselect.css' %}' rel='stylesheet' type='text/css'>
    <script src='{% static 'events/js/bootstrap-multiselect-events.js' %}'></script>
    <script src='{% static 'events/js/file-validator.js' %}'></script>
    <script src='{% static 'events/js/cascading-dropdown-activite.js' %}'></script>
{% endblock %}
