{% load i18n %}

{% if object.rnrevaluations %}
    <li><a href="#rnr" data-toggle="pill"><i class="fa fa-leaf"></i> Évaluation RNR associée</a></li>
{% endif %}
{% if object.natura2000evaluations %}
    <li><a href="#natura2000" data-toggle="pill"><i class="fa fa-gittip"></i> Évaluation Natura 2000 associée</a></li>
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <li><a href="#additionaldata" data-toggle="pill"><i class="fa fa-paperclip" aria-hidden="true"></i>  Document complémentaire</a></li>
{% endif %}
