{% load i18n %}

{% block event_description %}{% endblock %}
{% if object.rnrevaluations %}
    <div id="rnr" class="panel panel-default tab-pane fade">
        {% include 'evaluations/rnrevaluation_detail.html' with evaluation=object.rnrevaluations %}
    </div>
{% endif %}
{% if object.natura2000evaluations %}
    <div id="natura2000" class="panel panel-default tab-pane fade">
        {% include 'evaluations/n2kevaluation_detail.html' with evaluation=object.natura2000evaluations %}
    </div>
{% endif %}
{% if object.documentscomplementaires.count > 0 %}
    <div id="additionaldata" class="panel panel-default tab-pane fade">
        {% include 'events/additionaldata_detail.html' %}
    </div>
{% endif %}
