{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}{% endblock %}

{% block page_title %}
    <p class="text-muted"><i class="fa fa-info-circle"></i> Ce fil d'arianne représente l'avancement de votre demande</p>
    <ol class="breadcrumb">
        {% for breadcrumb, done in object.get_breadcrumbs %}
            {% if done %}
                <li><button class="btn btn-success" disabled="disabled">Étape {{ forloop.counter }}<br/>{{ breadcrumb|capfirst }} <i class="fa fa-check"></i></button></li>
            {% else %}
                <li><button class="btn btn-danger" disabled="disabled">Étape {{ forloop.counter }}<br/>{{ breadcrumb|capfirst }} <i class="fa fa-warning"></i></button></li>
            {% endif %}
        {% endfor %}
        {% if object.processing %}
            {% if object.manifestationautorisation.state == 'published' %}
                <li><button class="btn btn-success" disabled="disabled">Arrêté d'autorisation publié<i class="fa fa-check"></i></button></li>
            {% elif object.manifestationdeclaration.state == 'published' %}
                <li><button class="btn btn-success" disabled="disabled">Récepissé de déclaration publié<i class="fa fa-check"></i></button></li>
            {% else %}
                <li><button class="btn btn-default" disabled="disabled">Étape finale<br/>Analyse par les services instructeurs<i class="fa fa-spinner fa-spin"></i></button></li>
                {% if object.missing_additional_data.exists %}
                    <li><button class="btn btn-danger" disabled="disabled">Documents manquants<i class="fa fa-warning"></i></button></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li><button class="btn btn-default" disabled="disabled">Étape finale<br/>Analyse par les services instructeurs</button></li>
        {% endif %}
    </ol>
    <p class="text-muted">Si certaines étapes sont marquées en rouge, cela signifie que votre déclaration ou que votre demande d'autorisation est encore incomplète</p>
    {% block counter %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#event" data-toggle="pill">Manifestation</a></li>
                {% include 'events/event_tabs.html' %}
            </ul>
            <div class="tab-content">
                {% include 'events/event_panel_promoter.html' %}
            </div>
        </div>
        <div class="col-sm-4">
            {% include 'events/panels/environmental_evaluations.html' %}
            {% if not object.display_rnr_eval_panel and not object.display_natura2000_eval_panel %}
                {% if not object.delay_exceeded %}
                    {% block related_processes %}{% endblock %}
                {% endif %}
            {% endif %}
            {% if object.missing_additional_data.exists %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Des documents complémentaires sont requis par le service instructeur du dossier</h3>
                    </div>
                    <div class="panel-body">
                        <p>Veuillez fournir les documents dont la liste est affichée ci-dessous pour que l'instruction de votre dossier puisse continuer</p>
                    </div>
                    <ul class="list-group">
                        {% for additional_data in object.missing_additional_data %}
                            <li class="list-group-item">
                                <a href="{% url 'events:additional_data_provide' pk=additional_data.pk %}">{{ additional_data }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block end_of_process %}{% endblock %}
            <a href="{% url 'events:dashboard' %}" class="btn" role="button">
                Retour à mon <i class="fa fa-tachometer" aria-hidden="true"></i> tableau de bord
            </a>
        </div>
    </div>
{% endblock %}
