{% load i18n %}
{% load openrunner %}

<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-info-circle"></i> {{ object|capfirst }}
        {% if user.organisateur %}
            {% if not object.processing %}
                {% if object.autorisationnm %}
                    <a href="{% url 'events:autorisationnm_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        Modifier
                    </a>
                {% elif object.declarationnm %}
                    <a href="{% url 'events:declarationnm_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        Modifier
                    </a>
                {% elif object.motorizedconcentration %}
                    <a href="{% url 'events:motorizedconcentration_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        Modifier
                    </a>
                {% elif object.motorizedevent %}
                    <a href="{% url 'events:motorizedevent_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        Modifier
                    </a>
                {% elif object.motorizedrace %}
                    <a href="{% url 'events:motorizedrace_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        Modifier
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </h3>
</div>
<div class="panel-body">
    <p>{{ object.description|linebreaks }}</p>
</div>
<ul class="list-group">
    {% block associated_process %}{% endblock %}
    <li class="list-group-item"><i class="fa fa-calendar"></i> Début : {{ object.begin_date }}</li>
    <li class="list-group-item"><i class="fa fa-calendar"></i> Fin : {{ object.end_date }}</li>
    <li class="list-group-item"><i class="fa fa-square-o"></i> Activité : {{ object.activite.discipline }} - {{ object.activite }}</li>
    {% if object.autorisationnm.multisport_federation %}
        <li class="list-group-item">Fédération Multi-Sports : {{ object.autorisationnm.multisport_federation }}</li>
    {% endif %}
    <li class="list-group-item"><i class="fa fa-calendar"></i> La manifestation est inscrite sur le calendrier de la fédération délégataire de la discipline : {{ object.registered_calendar|yesno|title }}</li>
    <li class="list-group-item"><i class="fa fa-road"></i> Sur voie publique ou ouverte à la circulation publique : {{ object.activite|yesno|title }}</li>
    <li class="list-group-item"><i class="fa fa-flag"></i> Commune de départ : {{ object.departure_city|capfirst }}</li>
    <li class="list-group-item"><i class="fa fa-flag"></i> Communes traversées :
        {% for city in object.crossed_cities.all %}
            {% if forloop.last %}
                {{ city }}.
            {% else %}
                {{ city }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><i class="fa fa-flag-o"></i> Autres départements traversés par la manifestation :
        {% for departement in object.other_departments_crossed.all %}
            {% if forloop.last %}
                {{ departement }}.
            {% else %}
                {{ departement }},
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><i class="fa fa-users"></i> Nombre de spectateurs : {{ object.max_audience }}</li>
    <li class="list-group-item"><i class="fa fa-users"></i> Nombre de participants : {{ object.number_of_entries }}</li>
    {% if object.oneway_roads %}
        <li class="list-group-item">
            <i class="fa fa-road"></i>
            Voies publiques en sens unique : {{ object.oneway_roads|linebreaks }}</li>
    {% endif %}
    {% if object.closed_roads %}
        <li class="list-group-item">
            <span class="fa-stack">
                <i class="fa fa-road fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
            Fermeture de voies publiques : {{ object.closed_roads|linebreaks }}
        </li>
    {% endif %}
    {% if object.declarationnm.grouped_traffic %}
        <li class="list-group-item">Circulation groupée : {{ object.declarationnm.get_grouped_traffic_display }}</li>
    {% endif %}
    {% if object.declarationnm.support_vehicles_number %}
        <li class="list-group-item">Nombre de véhicules d'accompagnement : {{ object.declarationnm.support_vehicles_number }}</li>
    {% endif %}
    {% if object.motorizedrace.support %}
        <li class="list-group-item">Type de support : {{ object.motorizedrace.get_support_display }}</li>
    {% endif %}
    {% if object.motorizedevent.vehicles %}
        <li class="list-group-item">Type et nombre de véhicules : {{ object.motorizedevent.vehicles|linebreaks }}</li>
    {% endif %}
    {% if object.motorizedconcentration.vehicles %}
        <li class="list-group-item">Type et nombre de véhicules : {{ object.motorizedconcentration.vehicles|linebreaks }}</li>
    {% endif %}
    {% if object.motorizedconcentration.big_concentration %}
        <li class="list-group-item">Plus de 200 autos ou 400 véhicules terrestres à moteur à 2 ou 4 roues : {{ object.motorizedconcentration.big_concentration|yesno|capfirst }}</li>
    {% endif %}
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-user"></i> Organisateur</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">Déclarant : {{ object.structure.organisateur.user.first_name|capfirst }} {{ object.structure.organisateur.user.last_name|capfirst }}</li>
    <li class="list-group-item">Structure : {{ object.structure|capfirst }} ({{ object.structure.type_of_structure }})</li>
    <li class="list-group-item">Adresse : {{ object.structure.address }}, {{object.structure.commune.zip_code}} {{ object.structure.commune|upper }}</li>
    <li class="list-group-item">Numéro de téléphone : {{ object.structure.phone }}</li>
    <li class="list-group-item">E-mail : {{ object.structure.organisateur.user.email }}</li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-map-marker"></i> Carte dynamique (Openrunner)</h3>
</div>
<ul class="list-group">
    {% if object.openrunner_route %}
        {% for route_id, route_name in object.get_manifestation_routes.items %}
        <li class="list-group-item">
            {% if not user.organisateur %}
                <a href="{{ route_id|url }}" target="_blank">{{ route_name }}</a>
            {% else %}
                {{ route_name }}
            {% endif %}
        </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item">
            Pas de parcours Openrunner pour cette manifestation
        </li>
    {% endif %}
</ul>
{% if not user.organisateur and object.get_conflicts_map_url %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-warning"></i> Possibles conflits de tracés avec d'autres manifestations (Openrunner)</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            {% if object.conflicts_maybe_incomplete %}
                <div class="alert alert-warning">
                    <p><strong>Attention !</strong> Une ou plusieurs manifestations possiblement en conflit n'ont pas de tracés Openrunner : </p>
                    {% for manifestation in object.conflicts_maybe_incomplete %}
                        - {{ manifestation }}<br/>
                    {% endfor %}
                </div>
            {% endif %}
            <a href="{{ object.get_conflicts_map_url }}" target='_blank'>Afficher les possibles conflits de tracé sur Openrunner</a>
        </li>
    </ul>
{% endif %}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-external-link-square"></i> Charte du balisage temporaire</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">Vous êtes signataire de la charte du balisage temporaire : {{ object.markup_convention|yesno|title }}</li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-external-link"></i> Type de balisage utilisé</h3>
</div>
<ul class="list-group">
    {% if object.chalk_markup %}
        <li class="list-group-item">Balisage à la craie</li>
    {% endif %}
    {% if object.rubalise_markup %}
        <li class="list-group-item">Balisage rubalise</li>
    {% endif %}
    {% if object.bio_rubalise_markup %}
        <li class="list-group-item">Balisage rubalise biodégradable</li>
    {% endif %}
    {% if object.paneling_markup %}
        <li class="list-group-item">Balisage panneaux (sur piquets ou fixés sur supports naturels)</li>
    {% endif %}
    {% if object.ground_markup %}
        <li class="list-group-item">Balisage signalétique collé au sol</li>
    {% endif %}
    {% if object.sticker_markup %}
        <li class="list-group-item">Balisage autocollant</li>
    {% endif %}
    {% if object.lime_markup %}
        <li class="list-group-item">Balisage à la chaux</li>
    {% endif %}
    {% if object.plaster_markup %}
        <li class="list-group-item">Balisage au plâtre</li>
    {% endif %}
    {% if object.confetti_markup %}
        <li class="list-group-item">Balisage confettis</li>
    {% endif %}
    {% if object.paint_markup %}
        <li class="list-group-item">Balisage à la peinture (aérosol)</li>
    {% endif %}
    {% if object.acrylic_markup %}
        <li class="list-group-item">Balisage à la peinture acrylique</li>
    {% endif %}
    {% if object.withdrawn_markup %}
        <li class="list-group-item">Balisage retiré dans les 48h</li>
    {% endif %}
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-signal"></i> Évaluation d'incidences Natura2000</h3>
</div>
<ul class="list-group">
    {% if object.big_budget %}
        <li class="list-group-item">Le budget de la manifestation excède 100 000 €</li>
    {% endif %}
    {% if object.lucrative %}
        <li class="list-group-item">Manifestation présentant un caractère lucratif et regroupant sur un même site plus de 1 500 personnes</li>
    {% endif %}
    {% if object.big_title %}
        <li class="list-group-item">Manifestation donnant lieu à la délivrance d'un titre national ou international</li>
    {% endif %}
    {% if object.motor_on_closed_road %}
        <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant en dehors des voies ouvertes à la circulation</li>
    {% endif %}
    {% if object.motor_on_natura2000 %}
        <li class="list-group-item">Manifestation avec engagement de véhicules terrestres à moteur se déroulant
            sur des voies ouvertes à la circulation et à l'intérieur d'un périmètre Natura2000</li>
    {% endif %}
    {% if object.approval_request %}
        <li class="list-group-item">Manifestation avec demande d'homologation d'un circuit de sports motorisés</li>
    {% endif %}
</ul>
{% include 'contacts/contact_detail.html' with contact=object.contact.first %}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-paperclip"></i> Fichiers joints</h3>
</div>
<ul class="list-group">
    {% if object.insurance_certificate %}
        <li class="list-group-item">Attestation d'assurance : <a href="{{ object.insurance_certificate.url }}" target='_blank'>{{ object.insurance_certificate }}</a></li>
    {% endif %}
    {% if object.cartography %}
        <li class="list-group-item">Cartographie : <a href="{{ object.cartography.url }}" target='_blank'>{{ object.cartography }}</a></li>
    {% endif %}
    {% if object.manifestation_rules %}
        <li class="list-group-item">Réglement de la manifestation : <a href="{{ object.manifestation_rules.url }}" target='_blank'>{{ object.manifestation_rules }}</a></li>
    {% endif %}
    {% if object.organisateur_commitment %}
        <li class="list-group-item">Déclaration et engagement de l'organisateur : <a href="{{ object.organisateur_commitment.url }}" target='_blank'>{{ object.organisateur_commitment }}</a></li>
    {% endif %}
    {% if object.safety_provisions %}
        <li class="list-group-item">Dispositions prises pour la sécurité : <a href="{{ object.safety_provisions.url }}" target='_blank'>{{ object.safety_provisions }}</a></li>
    {% endif %}
    {% if object.doctor_attendance %}
        <li class="list-group-item">Attestation de présence de médecin(s) : <a href="{{ object.doctor_attendance.url }}" target='_blank'>{{ object.doctor_attendance }}</a></li>
    {% endif %}
    {% if object.rounds_safety %}
        <li class="list-group-item">Sécurisation des épreuves : <a href="{{ object.rounds_safety.url }}" target='_blank'>{{ object.rounds_safety }}</a></li>
    {% endif %}
    {% if object.motorizedevent.public_zone_map %}
        <li class="list-group-item">Carte zone publique : <a href="{{ object.motorizedevent.public_zone_map.url }}" target='_blank'>{{ object.motorizedevent.public_zone_map }}</a></li>
    {% endif %}
    {% if object.motorizedevent.commissioners %}
        <li class="list-group-item">Liste des postes commissaires : <a href="{{ object.motorizedevent.commissioners.url }}" target='_blank'>{{ object.motorizedevent.commissioners }}</a></li>
    {% endif %}
    {% if object.motorizedevent.tech_organisateur_certificate %}
        <li class="list-group-item">Attestation organisateur technique : <a href="{{ object.motorizedevent.tech_organisateur_certificate.url }}" target='_blank'>{{ object.motorizedevent.tech_organisateur_certificate }}</a></li>
    {% endif %}
    {% if object.motorizedevent.hourly_itinerary %}
        <li class="list-group-item">Itinéraire horaire : <a href="{{ object.motorizedevent.hourly_itinerary.url }}" target='_blank'>{{ object.motorizedevent.hourly_itinerary }}</a></li>
    {% endif %}
    {% if object.motorizedrace.mass_map %}
        <li class="list-group-item">Plan de masse : <a href="{{ object.motorizedrace.mass_map.url }}" target='_blank'>{{ object.motorizedrace.mass_map }}</a></li>
    {% endif %}
    {% if object.motorizedevent.delegate_federation_agr %}
        <li class="list-group-item">Avis fédération délégataire : <a href="{{ object.motorizedevent.delegate_federation_agr.url }}" target='_blank'>{{ object.motorizedevent.delegate_federation_agr }}</a></li>
    {% endif %}
    {% if object.autorisationnm.signalers_list %}
        <li class="list-group-item">Liste des signaleurs : <a href="{{ object.autorisationnm.signalers_list.url }}" target='_blank'>{{ object.autorisationnm.signalers_list }}</a></li>
    {% endif %}
    {% if object.additional_docs %}
        <li class="list-group-item">Documents complémentaires : <a href="{{ object.additional_docs.url }}" target='_blank'>{{ object.additional_docs }}</a></li>
    {% endif %}
</ul>
