{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}{{ object|capfirst }}{% endblock %}
{% block page_title %}
    <h1>{{ object|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">{{ object.description|linebreaks }}</div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><i class="fa fa-calendar"></i> Début : </strong>{{ object.begin_date|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="fa fa-calendar"></i> Fin : </strong>{{ object.end_date|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><i class="fa fa-square-o"></i> Sport : </strong>{{ object.activite.discipline }} - {{ object.activite }}</li>
                    <li class="list-group-item"><strong><i class="fa fa-road"></i> Sur voie publique ou ouverte à la circulation publique : </strong>{{ object.activite|yesno|title }}</li>
                    <li class="list-group-item"><strong><i class="fa fa-flag"></i> Commune de départ : </strong>{{ object.departure_city|capfirst }}</li>
                    <li class="list-group-item"><strong><i class="fa fa-flag"></i> Communes traversées : </strong>
                        {% for city in object.crossed_cities.all %}
                            {% if forloop.last %}
                                {{ city }}.
                            {% else %}
                                {{ city }}, 
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        {% comment %}
        <div class="col-sm-6">
            {% include 'events/map.html' %}
        </div>
        {% endcomment %}
    </div>
    <a href="{% url 'events:calendar' %}" class="btn btn-primary">Retour au calendrier des manifestations sportives</a>
{% endblock %}
