{% extends "events/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% url from future %}

{% block head_title %} Manifestations Sportives en {{ DEPARTMENT_NAME }}
{% endblock %}

{% block body %}
    {% block content %}
        <div id="carousel-example-generic" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="first slide" src="{% static 'events/img/carousel01.jpg' %}">
                    <div class="carousel-caption">
                        <h2 class="text-left almost-black">ORGANISEZ VOTRE ÉVENEMENT SPORTIF</h2>
                        <p class="text-left"><a class="btn btn-lg btn-primary" role="button" href="/about/">En savoir plus</a></p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="{% static 'events/img/carousel02.jpg' %}">
                    <!--<div class="carousel-caption">
                        <h2 class="text-left almost-black">Savoir si vous êtes soumis à autorisation ou déclaration</h2>
                        <p class="text-left"><a class="btn btn-lg btn-primary" role="button" href="">Cliquez ici</a></p>
                    </div>-->
                </div>
                <div class="item">
                    <img alt="third slide" src="{% static 'events/img/carousel03.jpg' %}">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
        <div class="page-header page-header-home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img alt="Icône ddcs" src="{% static 'events/img/manifloire_brand_big.png' %}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="text-center">
                            MANIFESTATIONS SPORTIVES EN {{ DEPARTMENT_NAME|upper }} ({{ DEPARTMENT_NUMBER }}) <br/><small><em>Vos démarches en ligne de déclaration et d'autorisation d'évènements sportifs</em></small>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img alt="Logo République Française" src="{% static 'events/img/logos_front.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if not user.is_authenticated %}
                    <div class="col-sm-4">
                {% else %}
                    <div class="col-sm-6">
                {% endif %}
                    <a href="{% url 'events:calendar' %}" class="btn btn-block button-home" role="button">
                        <h1 class="text-center text-primary"><i class="fa fa-calendar"></i></h1>
                        <h1 class="text-center">Calendrier</h1>
                    </a>
                    <p class="text-center">Les manifestations sportives sur le département</p>
                </div>
                {% if not user.is_authenticated %}
                    <div class="col-sm-4">
                        <a href="{% url 'account_signup' %}" class="btn btn-block button-home" role="button">
                            <h1 class="text-center text-primary"><i class="fa fa-pencil-square-o"></i></h1>
                            <h1 class="text-center">Inscription</h1>
                        </a>
                        <p class="text-center">Organisateurs d'évenements sportifs : Inscrivez vous !</p>
                    </div>
                {% endif %}
                {% if not user.is_authenticated %}
                    <div class="col-sm-4">
                {% else %}
                    <div class="col-sm-6">
                {% endif %}
                    <a href="/faq/" class="btn btn-block button-home" role="button">
                        <h1 class="text-center text-primary"><i class="fa fa-book"></i></h1>
                        <h1 class="text-center">Aide & infos</h1>
                    </a>
                    <p class="text-center">Organisateurs, fédérations, services instructeurs, cet espace vous est dédié</p>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
