{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}
    Tableau de Bord
{% endblock %}

{% block page_title %}
    <h1><i class="fa fa-tachometer" aria-hidden="true"></i> Tableau de Bord</h1>
{% endblock %}

{% block content %}
    <div class="row">
        {% if request.user.organisateur.structure %}
            <div class="col-sm-6">
                <a href="{% url 'events:create_route' %}" class="btn btn-primary" role="button">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>Déclarer une nouvelle manifestation
                </a>
                <h3><i class="fa fa-flag-checkered" aria-hidden="true"></i>Mes manifestations</h3>
                <div class="panel panel-default">
                    <div class="list-group">
                        {% for manifestation in object_list %}
                            {% if manifestation.motorizedconcentration %}
                                <a href="{% url 'events:motorizedconcentration_detail' manifestation.id %}" class="list-group-item">{{ manifestation }}</a>
                            {% elif manifestation.motorizedevent %}
                                <a href="{% url 'events:motorizedevent_detail' manifestation.id %}" class="list-group-item">{{ manifestation }}</a>
                            {% elif manifestation.motorizedrace %}
                                <a href="{% url 'events:motorizedrace_detail' manifestation.id %}" class="list-group-item">{{ manifestation }}</a>
                            {% elif manifestation.declarationnm %}
                                <a href="{% url 'events:declarationnm_detail' manifestation.id %}" class="list-group-item">{{ manifestation }}</a>
                            {% elif manifestation.autorisationnm %}
                                <a href="{% url 'events:autorisationnm_detail' manifestation.id %}" class="list-group-item">{{ manifestation }}</a>
                            {% endif %}
                        {% empty %}
                            <a href="" class="list-group-item disabled">Aucune manifestation déclarée pour le moment</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    {% include "notifications/actions_list.html" %}
                </div>
                <div class="row">
                    {% include "notifications/notifications_list.html" %}
                </div>
            </div>
        {% else %}
            <div class="well">
                <p>Dans un premier temps, veuillez renseigner les informations relative à la structure organisatrice de l'évenement sportif</p>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'events:structure_add' %}" class="btn btn-primary" role="button">
                    Accéder au formulaire de renseignement sur la structure organisatrice
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
