
<iframe width="100%" height="475px" frameborder="0" scrolling="no" src="http://www.openstreetmap.org/export/embed.html?bbox=2.06817626953125%2C44.92591837128866%2C5.69366455078125%2C46.57585481240773&amp;layer=mapnik&amp;marker=45.75698431353718%2C3.88092041015625"></iframe><br/>
<small><a href="http://www.openstreetmap.org/?mlat=45.4241&amp;mlon=4.2809#map=12/45.4241/4.2809" target="_blank">Afficher une carte plus grande</a></small>
