{% load i18n %}

{% if not object.manifestation_rules %}
    <li class="list-group-item">Réglement de la manifestation</li>
{% endif %}
{% if not object.organisateur_commitment %}
    <li class="list-group-item">Déclaration et engagement de l'organisateur</li>
{% endif %}
{% if not object.safety_provisions %}
    <li class="list-group-item">Dispositions prises pour la sécurité</li>
{% endif %}
{% if not object.openrunner_route and not object.openrunner_map_optional %}
    <li class="list-group-item">Parcours Openrunner</li>
{% endif %}