{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}Concentration de Véhicules Terrestres à Moteur{% endblock %}

{% block counter %}
    {% if object.big_concentration %}
        {% if not object.manifestationautorisation.id %}
            {% include 'events/counter.html' %}
        {% endif %}
    {% else %}
        {% if not object.manifestationdeclaration.id %}
            {% include 'events/counter.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if object.big_concentration %}
        {% if not object.manifestationautorisation.id %}
            {% if object.ready_for_instruction %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Actions requises</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_add' manifestation_pk=object.id %}" class="btn" role="button">
                                Demander une autorisation pour la manifestation
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Des pièces manquent au dossier</h3>
                    </div>
                    <div class="panel-body">
                        <p>Une fois ces pièces jointes au dossier, vous serez en mesure de d'envoyer la demande d'autorisation</p>
                        <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                        {% if not object.rounds_safety %}
                            <li class="list-group-item">Sécurisation des épreuves</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if not object.manifestationdeclaration.id %}
            {% if object.ready_for_instruction %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Actions requises</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_add' manifestation_pk=object.id %}" class="btn" role="button">
                                Déclarer la manifestation
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Des pièces manquent au dossier</h3>
                    </div>
                    <div class="panel-body">
                        <p>Une fois ces pièces jointes au dossier, vous serez en mesure de d'envoyer la demande d'autorisation</p>
                        <p>Veuillez trouver ci-dessous la liste des pièces manquantes</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.big_concentration %}
        {% if object.manifestationautorisation.id %}
            {% if object.manifestationautorisation.state == 'published' and object.manifestationautorisation.bylaw %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">L'arrêté d'autorisation a été publié</h3>
                    </div>
                    <div class="panel-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.manifestationautorisation.bylaw.url }}" target='_blank'>Arrêté d'autorisation</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if object.manifestationdeclaration.id %}
            {% if object.manifestationdeclaration.state == 'published' and object.manifestationdeclaration.receipt %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Le récépissé de déclaration a été publié</h3>
                    </div>
                    <div class="panel-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.manifestationdeclaration.receipt.url }}" target='_blank'>Récépissé de déclaration</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
