{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}
    Nouveautés de la plateforme
{% endblock %}

{% block page_title %}
    <h1>Nouveautés de la plateforme</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <ul>
            {% for object in object_list %}
                <li>{{ object }} : <a href="{{ object.page.url }}" class="alert-link">{{ object.page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
