{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}Choix du Type de Manifestation Non Motorisée{% endblock %}
{% block page_title %}
    <h1>Vous organisez une compétition ? </h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:autorisationnm_add' %}" class="list-group-item">
            <h3>Oui</h3>
            Avec horaire fixe ou classement, vitesse ou moyenne imposée
        </a>
        <a href="{% url 'events:declarationnm_choose' %}" class="list-group-item">
            <h3>Non</h3>
        </a>
    </div>
{% endblock %}
