{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}Sélection du type de manifestation sportive{% endblock %}
{% block page_title %}
    <h1>Sélectionnez le type de manifestation sportive</h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:motorizedconcentration_add' %}" class="list-group-item">
            <h3>Concentration de véhicules terrestres à moteur</h3>
            (Article R331-18 du code du sport)
            <ul>
                <li>Un rassemblement comportant la participation de VTM (circulation groupée)</li>
                <li>Se déroulant sur la voie publique dans le respect du code de la route (pas </li>
                <li>Imposant aux participants un ou plusieurs points de rassemblement</li>
                <li>Dépourvue de tout classement</li>
            </ul>
        </a>
        <a href="{% url 'events:motorizedevent_add' %}" class="list-group-item">
            <h3>Une manifestation avec véhicules terrestres à moteur</h3>
            (Article R331-18 du code du sport)
            <ul>
                <li>Regroupement de VTM et d'un ou plusieurs pilotes ou pratiquants</li>
                <li>Visant à présenter, de façon organisée pour les spectateurs</li>
                <li>Un sport mécanique sous ses différentes formes</li>
                <li>Les manifestations comportent généralement un classement chronométré</li>
            </ul>
        </a>
    </div>
{% endblock %}
