{% load i18n %}

<div class="panel-heading">
    {% block associated_evaluation %}
    {% endblock %}
</div>
<ul class="list-group">
    <li class="list-group-item">Lieu-dit : {{ evaluation.place|capfirst }}</li>
    {% block daynight %}
    {% endblock %}
</ul>


<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-calendar"></i> Fréquence de la manifestation</h3>
</div>
<ul class="list-group">
    {% if evaluation.every_year %}
        <li class="list-group-item">La manifestation a lieu chaque année : {{ evaluation.every_year|yesno|title }}</li>
    {% endif %}
    {% if evaluation.first_edition %}
        <li class="list-group-item">Première édition de la manifestation : {{ evaluation.first_edition|yesno|title }}</li>
    {% endif %}
    {% if evaluation.other_frequency %}
        <li class="list-group-item">Autre fréquence : {{ evaluation.other_frequency|capfirst }}</li>
    {% endif %}
    {% block frequency %}
    {% endblock %}
</ul>


{% block attendance %}
{% endblock %}


<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-eur"></i> Budget de la manifestation</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">Coût de la manifestation : {{ evaluation.get_cost_display }}</li>
</ul>


<div class="panel-heading">
    {% if evaluation.rnr_entries %}
        <h3 class="panel-title"><i class="fa fa-map-marker"></i> Localisation de la manifestation par rapport aux sites RNR</h3>
    {% else %}
        <h3 class="panel-title"><i class="fa fa-map-marker"></i> Localisation de la manifestation par rapport aux sites Natura 2000</h3>
    {% endif %}
</div>
<ul class="list-group">
    <li class="list-group-item">Longueur totale des parcours en RNR : {{ evaluation.track_total_length }}</li>
</ul>

{% block sites %}
{% endblock %}

{% block provisions_taken %}
{% endblock %}

{% block area_of_influence %}
{% endblock %}

{% block natural_habitats %}
{% endblock %}

{% block species %}
{% endblock %}

<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-th"></i> Présence d'aménagements connexes</h3>
</div>
    <ul class="list-group">
    {% if evaluation.parking_lot or evaluation.parking_lot_desc %}
        <li class="list-group-item">Parking : {{ evaluation.parking_lot|yesno|title }}
            {% if evaluation.parking_lot_desc %}
                - {{ evaluation.parking_lot_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.reception_area or evaluation.reception_area_desc %}
        <li class="list-group-item">Zone d'accueil du public/des spéctateurs : {{ evaluation.reception_area|yesno|title }}
            {% if evaluation.reception_area_desc %}
                - {{ evaluation.reception_area_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.supplying_area or evaluation.supplying_area_desc %}
        <li class="list-group-item">Zones de ravitaillement : {{ evaluation.supplying_area|yesno|title }}
        {% if evaluation.supplying_area_desc %}
            - {{ evaluation.supplying_area_desc|capfirst }}
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.storage_area or evaluation.storage_area_desc %}
        <li class="list-group-item">Zone de stockage (matériel, véhicules...) : {{ evaluation.storage_area|yesno|title }}
            {% if evaluation.storage_area_desc %}
                - {{ evaluation.storage_area_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.awards_stage or evaluation.awards_stage_desc %}
        <li class="list-group-item">Scène de remise des prix : {{ evaluation.awards_stage|yesno|title }}
            {% if evaluation.awards_stage_desc %}
                - {{ evaluation.awards_stage_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.bivouac_area or evaluation.bivouac_area_desc %}
        <li class="list-group-item">Zone de bivouac : {{ evaluation.bivouac_area|yesno|title }}
            {% if evaluation.bivouac_area_desc %}
                - {{ evaluation.bivouac_area_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.noise or evaluation.noise_desc %}
        <li class="list-group-item">Émissions sonores (sono, concert...) : {{ evaluation.noise|yesno|title }}
            {% if evaluation.noise_desc %}
                - {{ evaluation.noise_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.night_lighting or evaluation.night_lighting_desc %}
        <li class="list-group-item">Éclairage nocturne : {{ evaluation.night_lighting|yesno|title }}
            {% if evaluation.night_lighting_desc %}
                - {{ evaluation.night_lighting_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.trails_marks or evaluation.trails_marks_desc %}
        <li class="list-group-item">Balisage des sentiers : {{ evaluation.trails_marks|yesno|title }}
            {% if evaluation.trails_marks_desc %}
            - {{ evaluation.trails_marks_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.other_facilities or evaluation.other_facilities_desc %}
        <li class="list-group-item">Autres types d'aménagements : {{ evaluation.other_facilities|yesno|title }}
            {% if evaluation.other_facilities_desc %}
            - {{ evaluation.other_facilities_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
</ul>


<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-signal"></i>
        {% if evaluation.rnr_conclusion %}
            Incidences potentielles sur RNR
        {% else %}
            Incidences potentielles sur Natura 2000
        {% endif %}
    </h3>
</div>
<ul class="list-group">
    {% if evaluation.water_crossing %}
        <li class="list-group-item">Franchissement d'un cours d'eau hors d'un passage aménagé : {{ evaluation.water_crossing|yesno|title }}</li>
    {% endif %}
    {% if evaluation.off_trail %}
        <li class="list-group-item">Passage des participants en dehors des sentiers (à localiser sur la carte) : {{ evaluation.off_trail|yesno|title }}</li>
    {% endif %}
    {% if evaluation.bio_implications %}
        <li class="list-group-item">La présence du public est susceptible d'avoir une incidence sur les habitats
            naturels et/ou les espèces animales et végétales : {{ evaluation.bio_implications|yesno|title }}</li>
    {% endif %}
    {% if evaluation.related_facilities %}
        <li class="list-group-item">Présence d'aménagements connexes : {{ evaluation.related_facilities|yesno|title }}</li>
    {% endif %}
    {% if evaluation.noise_emissions %}
        <li class="list-group-item">Les émissions sonores sont susceptibles de déranger les espèces présentes
            sur le site (puissance des émissions et proximité du site) : {{ evaluation.noise_emissions|yesno|title }}</li>
    {% endif %}
    {% if evaluation.light_emissions %}
    <li class="list-group-item">Les émissions lumineuses nocturnes sont-elles susceptibles de déranger les
        espèces présentes sur le site : {{ evaluation.light_emissions|yesno|title }}</li>
    {% endif %}
    {% if evaluation.waste_management or evaluation.waste_management_desc %}
        <li class="list-group-item">Vous avez prévu des dispositifs particuliers pour la gestion des déchets
            pendant et après la manifestation [À décrire dans le champ réservé] : {{ evaluation.waste_management|yesno|title }}
            {% if evaluation.waste_management_desc %}
                - {{ evaluation.waste_management_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.awareness %}
        <li class="list-group-item">Vous avez prévu la mise en place d'actions de communication ou de
            sensibilisation concernant les enjeux environnementaux : {{ evaluation.awareness|yesno|title }}</li>
    {% endif %}
    {% if evaluation.impact_reduction or evaluation.impact_reduction_desc %}
        <li class="list-group-item">Vous avez pris des mesures pour réduire l'impact de la manifestation sur le
            milieu naturel (contacts structures, choix du lieu en fonction des enjeux,
            délimitation de zones interdites au public...) [À décrire dans le champ réservé] : {{ evaluation.impact_reduction|yesno|title }}
            {% if evaluation.impact_reduction_desc %}
                - {{ evaluation.impact_reduction_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% block potential_implications %}
    {% endblock %}
</ul>

<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-arrow-circle-o-right"></i> Conclusions</h3>
</div>
<ul class="list-group">
    {% block conclusion %}
        <li class="list-group-item">Impact estimé de la manifestation : {{ evaluation.estimated_impact|capfirst }}</li>
    {% endblock %}
</ul>
