{% extends "evaluations/evaluation_detail.html" %}

{% load i18n %}

{% block associated_evaluation %}
    <h3 class="panel-title"><i class="fa fa-leaf"></i> Évaluation RNR associée
        {% ifequal user object.structure.organisateur.user %}
            {% if not object.processing %}
                <a href="{% url 'evaluations:rnrevaluation_update' evaluation.pk %}" class="btn btn-primary pull-right" role="button">
                    Mettre à jour
                </a>
            {% endif %}
        {% endifequal %}
    </h3>
{% endblock %}

{% block sites %}
    {% if evaluation.sites.first %}
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-dot-circle-o"></i> Sites RNR concernés</h3>
        </div>
        <ul class="list-group">
            {% for site in evaluation.sites.all %}
                <li class="list-group-item">- {{ site }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block frequency %}
    {{ block.super }}
    <li class="list-group-item">Durée de la demande d'autorisation : {{ evaluation.get_request_duration_display|capfirst }}</li>
{% endblock %}


{% block attendance %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-users"></i> Fréquentation</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Participants concernés par le passage dans la RNR : {{ evaluation.rnr_entries }} Personnes</li>
        <li class="list-group-item">Spectateurs concernés par le passage dans la RNR : {{ evaluation.rnr_attendance }} Personnes</li>
    </ul>
{% endblock %}

{% block provisions_taken %}
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-tint"></i> Prise en compte de l'environnement</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">Date de contact avec les gestionnaires de la réserve : {{ evaluation.administrator_contact_date }}</li>
        <li class="list-group-item">Dispositif de sensibilisation à l'environnement et à la réserve envisagé : {{ evaluation.sensitization|capfirst }}</li>
        <li class="list-group-item">Dispositif de canalisation du public : {{ evaluation.forbidden_areas }}</li>
        <li class="list-group-item">L’organisateur souhaite la présence du gestionnaire de la RNR lors de la manifestation : {{ evaluation.administrator_attendance|yesno|title }}</li>
    </ul>
{% endblock %}

{% block potential_implications %}
    {{ block.super }}
    {% if evaluation.plane_attendance or evaluation.plane_attendance_desc %}
        <li class="list-group-item">Il y aura présence d'engins aériens [À décrire dans le champ réservé] : {{ evaluation.plane_attendance|yesno|title }}
            {% if evaluation.plane_attendance_desc %}
                - {{ evaluation.plane_attendance_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.trampling or evaluation.trampling_desc %}
        <li class="list-group-item">La présence des participants et du public entraînera un piétinement des sols [À décrire dans le champ réservé] : {{ evaluation.trampling|yesno|title }}
            {% if evaluation.trampling_desc %}
                - {{ evaluation.trampling_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.markup or evaluation.markup_desc %}
        <li class="list-group-item">Vous avez prévu un balisage, une signalisation spécifique à la manifestation
            [À décrire dans le champ réservé] : {{ evaluation.markup|yesno|title }}
            {% if evaluation.markup_desc %}
                - {{ evaluation.markup_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}


{% block conclusion %}
    {{ block.super }}
    <li class="list-group-item">Le projet, la manifestation respecte bien la réglementation propre à la réserve : {{ evaluation.regulatory_compliance|yesno|title }}</li>
    <li class="list-group-item">Ce formulaire permet de conclure à l'absence d'incidence significative sur
        le ou les sites RNR concernés par la manifestation : {{ evaluation.rnr_conclusion|yesno|title }}</li>
{% endblock %}
