{% extends "events/base.html" %}


{% load i18n %}


{% block head_title %}
    Déclaration de Manifestation
{% endblock %}

{% block page_title %}
    <h1>{{ object.manifestation|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#declaration" data-toggle="pill"><i class="fa fa-bullseye" aria-hidden="true"></i> Déclaration</a></li>
                <li><a href="#event" data-toggle="pill"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="declaration" class="panel panel-default tab-pane fade in active">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ object.manifestation|capfirst }}
                        </h3>
                    </div>
                    <ul class="list-group">
                        {% if object.manifestation.creation_date %}
                            <li class="list-group-item">Date de création du dossier : {{ object.manifestation.creation_date }}</li>
                      	{% endif %}
                        <li class="list-group-item">Date d'envoi de la déclaration : {{ object.creation_date }}</li>
                        {% if object.receipt %}
                            <li class="list-group-item">Récépissé de déclaration : <a href="{{ object.receipt.url }}" target='_blank'>{{ object.receipt }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-magic" aria-hidden="true"></i> Actions disponibles</h3>
                </div>
                <div class="panel-body">
                    <p>Veuillez trouver ici toutes les actions disponibles pour cette manifestation</p>
                </div>
                <ul class="list-group">
                    {% if object.state != 'published' %}
                        <li class="list-group-item">
                            <a href="{% url 'events:additional_data_add' manifestation_pk=object.manifestation.id %}" class="btn" role="button">
                                <i class="fa fa-plus-square" aria-hidden="true"></i> Demander plus d'informations
                            </a>
                        </li>
                    {% endif %}
                    {% if object.state == 'created' %}
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_publish' pk=object.id %}" class="btn" role="button">
                                Publier le récépissé de déclaration
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <a href="{% url 'authorizations:dashboard' %}" class="btn" role="button">
                Retour au <i class="fa fa-tachometer" aria-hidden="true"></i> tableau de bord
            </a>
        </div>
    </div>
{% endblock %}
