{% extends "events/base_form.html" %}

{% load i18n %}

{% block head_title %}
    Déclaration de manifestation
{% endblock %}

{% block page_title %}
    <h1><i class="fa fa-bullseye" aria-hidden="true"></i> Déclaration de manifestation</h1>
{% endblock %}
