{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}Page introuvable{% endblock %}

{% block content %}

<h2>Page introuvable</h2>

<p>Désolé, la page demandée n'a pas pu être trouvée.</p>

{% endblock %}
