{% extends "events/base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de Bord
{% endblock %}

{% block page_title %}
    <h1>Nouveauté de la plateforme</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>
                {{ nouveaute.title }}
            </h2>
            <p>
                {{ nouveaute.html }}
            </p>

        </div>
    </div>
{% endblock %}
