{% load nouveautes_tags %}
{% if request|nouveaute_available %}
    <br>
    <div class="container">
        <div class="alert alert-warning alert-dismissible">
            <p>Des nouveautés sont disponibles sur la plateforme :</p>
            <ul>
                {% for nouveaute in request|nouveaute_list|slice:"0:5" %}
                    <li><a href="{{ nouveaute.get_absolute_url }}">{{ nouveaute.title }}</a></li>
                {% endfor %}
            </ul>
            <p>Prenez connaissance de ces nouveautés sur la page suivante : <a href="{% url 'nouveautes:list' %}">Nouveautés de la plateforme</a></p>
        </div>
    </div>
{% endif %}
