{% extends "events/base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de Bord
{% endblock %}

{% block page_title %}
    <h1>Nouveautés de la plateforme</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Nouveautés
            </h2>

            <div class="panel panel-default">
                <div class="list-group">
                    {% for nouveaute in object_list %}
                        <h3><a href="{{ nouveaute.get_absolute_url }}">{{ nouveaute.title }}</a></h3>
                        <p>{{ nouveaute.creation }}</p>
                        {{ nouveaute.html }}
                    {% empty %}
                        <a class="list-group-item disabled">Pas de nouveauté.</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
