{% load i18n %}

{% if object.display_rnr_eval_panel %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Actions requises : Évaluation RNR*</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                <p><strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'administrateur de la zone RNR concernée :
                    <a href="{% url 'protected_areas:rnr_list' %}">
                        Liste des zones RNR et de leurs administrateurs
                    </a>
                </p>
            </div>
            <p>*RNR : Réserve Naturelle Régionale</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'evaluations:rnrevaluation_add' manifestation_pk=object.id %}" class="btn" role="button">
                    Effectuer une évaluation RNR*
                </a>
            </li>
        </ul>
    </div>
{% endif %}
{% if object.display_natura2000_eval_panel %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Actions requises : Évaluation Natura 2000</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                <p><strong>Attention ! </strong> Avant de remplir ce formulaire, vous DEVEZ contacter l'opérateur du ou des sites Natura2000 concernés :
                    <a href="{% url 'protected_areas:siten2k_list' %}">
                        Liste des opérateurs de sites Natura 2000
                    </a>
                </p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'evaluations:natura2000evaluation_add' manifestation_pk=object.id %}" class="btn" role="button">
                    Effectuer une évaluation Natura 2000
                </a>
            </li>
        </ul>
    </div>
{% endif %}
