{% extends "events/base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de bord instructeur
{% endblock %}

{% block page_title %}
    <h1><i class="fa fa-tachometer"></i> Tableau de bord</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3><i class="fa fa-diamond" aria-hidden="true"></i> Autorisations<br></h3>

            <div class="panel panel-default authorizations-requested">
                <div class="list-group">
                    {% for authorization in object_list %}
                        <a class="list-group-item
                            {% if authorization.state == 'published' %}
                                list-group-item-success
                            {% elif authorization.state == 'dispatched' %}
                                list-group-item-warning
                            {% elif authorization.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                           href="{% url 'authorizations:authorization_detail' authorization.id %}">{{ authorization.manifestation.begin_date|date:"d/m/Y" }} : {{ authorization.manifestation }}
                            {% if not authorization.state == 'created' %}
                                {% if authorization.all_agreements_validated %}
                                    <span class="label label-success top-right"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="label label-default top-right">{{ authorization.agreements_missing }} Avis manquants</span>
                                {% endif %}
                            {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucune autorisation à gérer</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3><i class="fa fa-bullseye" aria-hidden="true"></i> Déclarations</h3>

            <div class="panel panel-default declarations">
                <div class="list-group">
                    {% for declaration in declarations %}
                        <a class="list-group-item
                            {% if declaration.state == 'published' %}
                                list-group-item-success
                            {% elif declaration.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                           href="{% url 'declarations:declaration_detail' declaration.id %}">{{ declaration.manifestation.begin_date|date:"d/m/Y" }}
                            : {{ declaration.manifestation }}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucune déclaration à gérer</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
        {% include "notifications/actions_list.html" %}
    </div>
    <div class="col-sm-6">
        {% include "notifications/notifications_list.html" %}
    </div>
    </div>
{% endblock %}
