{% extends "events/base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Autorisation de manifestation
{% endblock %}

{% block page_title %}
    <h1>{{ object.manifestation|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#authorization" data-toggle="pill"><i class="fa fa-diamond" aria-hidden="true"></i> Autorisation</a></li>
                <li><a href="#event" data-toggle="pill"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="authorization" class="panel panel-default tab-pane fade in active">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-flag-checkered" aria-hidden="true"></i>{{ object.manifestation|capfirst }}
                        </h3>
                    </div>
                    <ul class="list-group">
                        {% if object.manifestation.creation_date %}
                            <li class="list-group-item">Date de création de la manifestation : {{ object.manifestation.creation_date }}</li>
                      	{% endif %}
                        <li class="list-group-item">Date de demande d'autorisation : {{ object.creation_date }}</li>
                        <li class="list-group-item">Type de manifestation : {{ object }}</li>
                        {% if object.bylaw %}
                            <li class="list-group-item">Arrêté : <a href="{{ object.bylaw.url }}" target='_blank'>{{ object.bylaw }}</a></li>
                        {% endif %}
                    </ul>
                    {% for avis in object.aviss.all %}
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-bookmark" aria-hidden="true"></i>Avis :
                                {% if avis.serviceavis %}
                                    {{ avis.serviceavis.service }}
                                {% elif avis.federationavis %}
                                    {{ avis.federationavis.get_federation }}
                                {% elif avis.mairieavis %}
                                    {{ avis.mairieavis.commune }}
                                {% elif avis.edsravis %}
                                    {{ avis.edsravis.get_edsr }}
                                {% elif avis.sdisavis %}
                                    {{ avis.sdisavis.get_sdis }}
                                {% elif avis.ddspavis %}
                                    {{ avis.ddspavis.get_ddsp }}
                                {% elif avis.cgavis %}
                                    {{ avis.cgavis.get_cg }}
                                {% elif avis.ggdavis %}
                                    {{ avis.ggdavis.get_ggd }}
                                {% endif %}
                                {% if avis.state != 'acknowledged' and object.state != 'published' %}
                                    {% if avis.serviceavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:service_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.federationavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:federal_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.mairieavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:townhall_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.edsravis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:edsr_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.sdisavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:sdis_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.ddspavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:ddsp_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.cgavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:cg_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% elif avis.ggdavis %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:ggd_agreement_resend' pk=avis.pk %}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i>Envoyer à nouveau la demande d'avis</a>
                                    {% endif %}
                                {% endif %}
                            </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">L'avis a été envoyé le {{ avis.request_date }}</li>
                            {% ifnotequal avis.state 'acknowledged' %}
                                <li class="list-group-item">L'avis est en cours d'examen</li>
                            {% else %}
                                <li class="list-group-item">Date de l'avis : {{ avis.reply_date }}</li>
                                <li class="list-group-item">Favorable : {{ avis.favorable|yesno|title }}</li>
                                <li class="list-group-item">Prescriptions : {{ avis.prescriptions|linebreaks }}</li>
                                {% if avis.attached_document %}
                                    <li class="list-group-item">Document joint :
                                        <a href="{{ avis.attached_document.url }}" target='_blank'>{{ avis.attached_document }}</a>
                                    </li>
                                {% endif %}
                            {% endifnotequal %}
                        </ul>
                    {% endfor %}
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-magic" aria-hidden="true"></i> Actions disponibles</h3>
                </div>
                <div class="panel-body">
                    <p>Retrouvez ici toutes les actions disponibles liées à cette manifestation</p>
                </div>
                <ul class="list-group">
                    {% if object.state != 'published' %}
                        <li class="list-group-item">
                            <a href="{% url 'events:additional_data_add' manifestation_pk=object.manifestation.id %}" class="btn" role="button">
                                <i class="fa fa-plus-square" aria-hidden="true"></i> Demander plus d'informations
                            </a>
                        </li>
                    {% endif %}
                    {% if object.state == 'created' %}
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_update' pk=object.id %}" class="btn" role="button">
                                Distribuer les demandes d'avis
                            </a>
                        </li>
                    {% elif object.state == 'dispatched' %}
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_update' pk=object.id %}" class="btn" role="button">
                                <i class="fa fa-bookmark" aria-hidden="true"></i> Ajouter des demandes d'avis
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_publish' pk=object.id %}" class="btn" role="button">
                                <i class="fa fa-key" aria-hidden="true"></i> Publier l'arrêté
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <a href="{% url 'authorizations:dashboard' %}" class="btn" role="button">
                Revenir au <i class="fa fa-tachometer" aria-hidden="true"></i>tableau de bord
            </a>
        </div>
    </div>
{% endblock %}
