{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}
    Profil
{% endblock %}

{% block page_title %}
    <h1>Profil</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-user"></i>Utilisateur : {{ object.username }}</div>
            <ul class="list-group">
                <li class="list-group-item">Nom : {{ object.last_name|title }}</li>
                <li class="list-group-item">Prénom : {{ object.first_name|title }}</li>
                <li class="list-group-item">E-mail : {{ object.email }} <a href="{% url 'account_email' %}">    <i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a></li>
                <li class="list-group-item"><i class="fa fa-lock" aria-hidden="true"></i> <a href="{% url 'account_change_password' %}"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier mon mot de passe</a></li>
            </ul>
        </div>
        <center><a class="btn btn-primary" href="{% url 'profile_edit' %}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a></center>
        <p/>
        {% if object.organisateur.structure %}
            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-home" aria-hidden="true"></i>Structure : {{ object.organisateur.structure.name }}</div>
                <ul class="list-group">
                    <li class="list-group-item">Type de structure : {{ object.organisateur.structure.type_of_structure }}</li>
                    <li class="list-group-item">Adresse : {{ object.organisateur.structure.address|title }}, {{ object.organisateur.structure.commune.zip_code }} {{ object.organisateur.structure.commune }}</li>
                    <li class="list-group-item">Numéro de téléphone : {{ object.organisateur.structure.phone }}</li>
                    {% if object.organisateur.structure.website %}
                        <li class="list-group-item">Site web : <a href="{{ object.organisateur.structure.website }}" target="_blank">{{ object.organisateur.structure.website }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <center><a class="btn btn-primary" href="{% url 'structure_edit' %}" role="button"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a></center>
        {% endif %}
    </div>
{% endblock %}
