{% extends "sub_agreements/preavis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' %}
        <a href="{% url 'sub_agreements:company_subagreement_acknowledge' pk=object.id %}" class="btn" role="button">
            Rendre le pré-avis
        </a>
    {% elif object.state == 'acknowledged' and object.avis.state == 'acknowledged' and not object.concerned_cis.exists %}
        <a href="{% url 'sub_agreements:notify_cis' pk=object.id %}" class="btn" role="button">
            Informer les CIS concernés
        </a>
    {% endif %}
{% endblock %}
