{% extends "events/base.html" %}


{% load i18n %}

{% block head_title %}{% endblock %}
{% block page_title %}
    <h1>{{ object.avis.authorization.manifestation|capfirst }}</h1>
    {% ifequal object.state 'created' %}
        {% if not object.avis.delay_exceeded %}
            <div class="alert alert-warning">
                <p><strong>Attention ! </strong>
                    Vous avez jusqu'au {{ object.avis.get_deadline|date:'d F Y' }}, pour rendre le pré-avis.
                </p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p><strong>Attention ! </strong>
                    Il est maintenant trop tard pour rendre le pré-avis pour cette manifestation.<br/>
                    Les instructeurs du dossier ne seront pas obligés de prendre en compte votre
                    pré-avis lors de l'instruction du dossier.
                </p>
            </div>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#subagreement" data-toggle="pill">Pré-avis</a></li>
                <li><a href="#event" data-toggle="pill"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.avis.authorization.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="subagreement" class="panel panel-default tab-pane fade in active">
                    {% include 'agreements/avis_description.html' %}
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.avis.authorization.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if object.avis.authorization.state == 'published' and object.avis.authorization.bylaw %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">L'arrêté d'autorisation a été publié</h3>
                    </div>
                    <div class="panel-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.avis.authorization.bylaw.url }}" target='_blank'>Arrêté d'autorisation</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-magic" aria-hidden="true"></i> Actions disponibles</h3>
                    </div>
                    <div class="panel-body">
                        <p>Voici les actions disponibles relatives à cette manifestation</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% block agreement_actions %}{% endblock %}
                        </li>
                    </ul>
                </div>
            {% endif %}
            <a href="{% url 'sub_agreements:dashboard' %}" class="btn" role="button">
                Retour au <i class="fa fa-tachometer" aria-hidden="true"></i> tableau de bord
            </a>
        </div>
    </div>
{% endblock %}
