{% extends "events/base.html" %}

{% load i18n %}

{% block head_title %}
{% endblock %}

{% block page_title %}
    <h1>{{ object.authorization.manifestation|capfirst }}</h1>
    {% ifequal object.state 'created' %}
        {% if not object.delay_exceeded %}
            <div class="alert alert-warning">
                <p><strong>Attention ! </strong>
                    Vous avez jusqu'au {{ object.get_deadline|date:'d F Y' }}, pour rendre votre avis
                </p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p><strong>Attention ! </strong>
                    Il est maintenant trop tard pour rendre votre avis sur cette manifestation.<br/>
                    les instructeurs du dossier n'auront pas à prendre en compte votre avis pour le traitement de cette manifestation.
                </p>
            </div>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#agreement" data-toggle="pill">Avis</a></li>
                <li><a href="#event" data-toggle="pill"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Détail de la manifestation</a></li>
                {% include 'events/event_tabs.html' with object=object.authorization.manifestation %}
            </ul>
            <div class="tab-content">
                <div id="agreement" class="panel panel-default tab-pane fade in active">
                    {% include 'agreements/avis_description.html' %}
                    {% for sub_agreement in object.preavis_set.all %}
                        {% if sub_agreement.preaviscgd %}
                            {% include 'agreements/avis_description.html' with object=sub_agreement.preaviscgd %}
                        {% elif sub_agreement.preavisservicecg %}
                            {% include 'agreements/avis_description.html' with object=sub_agreement.preavisservicecg %}
                        {% elif sub_agreement.preaviscommissariat %}
                            {% include 'agreements/avis_description.html' with object=sub_agreement.preaviscommissariat %}
                        {% elif sub_agreement.preaviscompagnie %}
                            {% include 'agreements/avis_description.html' with object=sub_agreement.preaviscompagnie %}
                        {% elif sub_agreement.preavisedsr %}
                            {% include 'agreements/avis_description.html' with object=sub_agreement.preavisedsr %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.authorization.manifestation %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if object.authorization.state == 'published' and object.authorization.bylaw %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">L'arrêté a été publié</h3>
                    </div>
                    <div class="panel-body">
                        <p>Vous pouvez le télécharger en cliquant sur le lien ci-dessous</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.authorization.bylaw.url }}" target='_blank'>Arrêté</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-magic" aria-hidden="true"></i> Actions disponibles</h3>
                    </div>
                    <div class="panel-body">
                        <p>Voici les actions disponibles relatives à cette manifestation</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% block agreement_actions %}{% endblock %}
                        </li>
                    </ul>
                </div>
            {% endif %}
            <a href="{% url 'agreements:dashboard' %}" class="btn" role="button">
                Retour au <i class="fa fa-tachometer" aria-hidden="true"></i> tableau de bord
            </a>
        </div>
    </div>
{% endblock %}
