{% extends "events/base.html" %}

{# load url from future #}
{% load i18n %}

{% block head_title %}
    Tableau de bord
{% endblock %}

{% block page_title %}
    <h1><i class="fa fa-tachometer" aria-hidden="true"></i> Tableau de bord</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>
                <i class="fa fa-bookmark" aria-hidden="true"></i> Avis demandés
            </h3>

            <div class="panel panel-default">
                <div class="list-group">
                    {% for avis in object_list %}
                        <a class="list-group-item
                            {% if avis.state == 'acknowledged' %}
                                list-group-item-success
                            {% elif avis.state == 'dispatched' %}
                                list-group-item-warning
                            {% elif avis.state == 'formatted' %}
                                list-group-item-warning
                            {% elif avis.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                        {% block agreement_item %}{% endblock %}
                        {% if avis.get_days_left_before_deadline.days > 0 and not avis.state == 'acknowledged' %}
                            <span class="label label-default pull-right">Délai : {{ avis.get_days_left_before_deadline.days }} jours</span>
                        {% endif %}
                        {% if avis.sub_agreements_missing %}
                            <span class="label label-default pull-right">{{ avis.sub_agreements_missing }} préavis manquants</span>
                        {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">Aucun avis à gérer</a>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
        {% include "notifications/actions_list.html" %}
    </div>
    <div class="col-sm-6">
        {% include "notifications/notifications_list.html" %}
    </div>
    </div>
{% endblock %}
