{% extends "events/base_form.html" %}

{% load i18n %}

{% block head_title %}
    Envoyer les demandes de pré-avis
{% endblock %}

{% block page_title %}
    <h1><i class="fa fa-bookmark" aria-hidden="true"></i>Envoyer les demandes de pré-avis</h1>
{% endblock %}
