{% load i18n %}

<div class="panel-heading">
    <h3 class="panel-title">{{ object|capfirst }}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        Date de demande :
        {{ object.request_date }}
    </li>
    {% if object.state == 'acknowledged' or object.state == 'formatted'%}
        <li class="list-group-item">
            {% if object.avis %}
                Date de rendu du pré-avis :
            {% else %}
                Date de réponse :
            {% endif %}
            {{ object.reply_date|default_if_none:"Pas encore rendu" }}
        </li>
        <li class="list-group-item">
            Favorable :
            {{ object.favorable|yesno|title }}
        </li>
        <li class="list-group-item">
            Prescriptions :
            {{ object.prescriptions|linebreaks }}
        </li>
        {% if object.attached_document %}
            <li class="list-group-item">
                Pièce jointe :
                <a href="{{ object.attached_document.url }}" target='_blank'>{{ object.attached_document }}</a>
            </li>
        {% endif %}
    {% endif %}
</ul>
