{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' and request.user.agent.cgagent %}
        <a href="{% url 'agreements:cg_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            <i class="fa fa-tags" aria-hidden="true"></i>Envoyer les demandes de pré-avis
        </a>
    {% elif object.state == 'dispatched' and request.user.agent.cgagent %}
        {% if object.preavis_validated %}
            <a href="{% url 'agreements:cg_agreement_format' pk=object.id %}" class="btn" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i>Mettre en forme l'avis
            </a>
        {% endif %}
    {% elif object.state == 'formatted' and request.user.agent.cgsuperieuragent%}
        <a href="{% url 'agreements:cg_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
            <i class="fa fa-bookmark" aria-hidden="true"></i>Rendre l'avis
        </a>
    {% endif %}
{% endblock %}
