{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' %}
        <a href="{% url 'agreements:ddsp_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            <i class="fa fa-tags" aria-hidden="true"></i>Envoyer les demandes de pré-avis
        </a>
    {% elif object.state == 'dispatched' %}
        {% if object.preavis_validated %}
            <a href="{% url 'agreements:ddsp_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                Rendre l'avis
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
