{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' and request.user.agent.edsragent %}
        <a href="{% url 'agreements:edsr_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            <i class="fa fa-tags" aria-hidden="true"></i>Envoyer les demandes de pré-avis
        </a>
    {% elif object.state == 'dispatched' and request.user.agent.edsragent %}
        {% if object.preavis_validated %}
            <a href="{% url 'agreements:edsr_agreement_format' pk=object.id %}" class="btn" role="button">
                Mettre en forme l'avis
            </a>
        {% else %}
            Un ou plusieurs préavis doivent être validés par les agents agréés.
        {% endif %}
    {% elif object.state == 'formatted' and request.user.agent.ggdagent%}
        <a href="{% url 'agreements:edsr_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
            Rendre l'avis
        </a>
    {% endif %}
{% endblock %}
