{% extends "agreements/avis_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' and request.user.agent.ggdagent%}
        <a href="{% url 'agreements:ggd_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            <i class="fa fa-tags" aria-hidden="true"></i>Envoyer les demandes de pré-avis
        </a>
    {% elif object.state == 'dispatched' and request.user.agent.edsragent %}
        {% if object.preavis_validated %}
            <a href="{% url 'agreements:ggd_agreement_format' pk=object.id %}" class="btn" role="button">
                Formater l'avis
            </a>
        {% else %}
            Vous ne pouvez pas formater l'avis tant que les préavis ne sont pas tous rendus.
            {% if EDSR_OR_GGD == "GGD_AgentEDSR" %}
                Un agent ESDR pourra ensuite formater l'avis avant qu'un agent GGD puisse le rendre.
            {% endif %}
        {% endif %}
    {% elif request.user.agent.ggdagent %}
        {% if EDSR_OR_GGD == "GGD_AgentEDSR" and object.state == 'formatted' %}
            <a href="{% url 'agreements:ggd_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                Rendre l'avis
            </a>
        {% elif EDSR_OR_GGD == "GGD_SubAgentEDSR" and object.state == 'dispatched' %}
            {% if object.all_agreements_validated %}
                <a href="{% url 'agreements:ggd_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                    Rendre l'avis
                </a>
            {% else %}
                Vous devez attendre que tous les pré-avis soient rendus.
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
