{% load i18n %}

<h3>
    {% if user.instructeur %}
        <i class="fa fa-flag-checkered" aria-hidden="true"></i> Dossiers organisateurs
    {% else %}
        <i class="fa fa-history" aria-hidden="true"></i>Notifications
    {% endif %}
</h3>

<table class="table table-condensed table-striped" data-toggle="table" id="notification-table" style="height: 600px; display: block;">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">Date</th>
            <th data-field="file" data-sortable="true">Dossier</th>
            <th>Expéditeur</th>
            <th>Objet</th>
        </tr>
    </thead>
    <tbody>
        {% for notification in user.notifications.in_processing.last_first %}
            <tr>
                <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                <td>{{ notification.manifestation }}</td>
                <td>{{ notification.content_object }}</td>
                <td>{{ notification.subject }}</td>
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Aucune notification sur les dossiers en cours</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
